@font-face {
  font-family: "aktivth";
  src: url("../../dist/fonts/aktivgrotesk_std_th-webfont.eot");
  src: url("../../dist/fonts/aktivgrotesk_std_th-webfont.eot?#iefix") format("embedded-opentype"), url("../../dist/fonts/aktivgrotesk_std_th-webfont.woff2") format("woff2"), url("../../dist/fonts/aktivgrotesk_std_th-webfont.woff") format("woff"), url("../../dist/fonts/aktivgrotesk_std_th-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "aktivthit";
  src: url("../../dist/fonts/aktivgrotesk_std_thit-webfont.eot");
  src: url("../../dist/fonts/aktivgrotesk_std_thit-webfont.eot?#iefix") format("embedded-opentype"), url("../../dist/fonts/aktivgrotesk_std_thit-webfont.woff2") format("woff2"), url("../../dist/fonts/aktivgrotesk_std_thit-webfont.woff") format("woff"), url("../../dist/fonts/aktivgrotesk_std_thit-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "aktivmd";
  src: url("../../dist/fonts/aktivgrotesk_std_md-webfont.eot");
  src: url("../../dist/fonts/aktivgrotesk_std_md-webfont.eot?#iefix") format("embedded-opentype"), url("../../dist/fonts/aktivgrotesk_std_md-webfont.woff2") format("woff2"), url("../../dist/fonts/aktivgrotesk_std_md-webfont.woff") format("woff"), url("../../dist/fonts/aktivgrotesk_std_md-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "aktivbd";
  src: url("../../dist/fonts/aktivgrotesk_std_bd-webfont.eot");
  src: url("../../dist/fonts/aktivgrotesk_std_bd-webfont.eot?#iefix") format("embedded-opentype"), url("../../dist/fonts/aktivgrotesk_std_bd-webfont.woff2") format("woff2"), url("../../dist/fonts/aktivgrotesk_std_bd-webfont.woff") format("woff"), url("../../dist/fonts/aktivgrotesk_std_bd-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "aktivblk";
  src: url("../../dist/fonts/aktivgrotesk_std_blk-webfont.eot");
  src: url("../../dist/fonts/aktivgrotesk_std_blk-webfont.eot?#iefix") format("embedded-opentype"), url("../../dist/fonts/aktivgrotesk_std_blk-webfont.woff2") format("woff2"), url("../../dist/fonts/aktivgrotesk_std_blk-webfont.woff") format("woff"), url("../../dist/fonts/aktivgrotesk_std_blk-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "aktivblkit";
  src: url("../../dist/fonts/aktivgrotesk_std_blkit-webfont.eot");
  src: url("../../dist/fonts/aktivgrotesk_std_blkit-webfont.eot?#iefix") format("embedded-opentype"), url("../../dist/fonts/aktivgrotesk_std_blkit-webfont.woff2") format("woff2"), url("../../dist/fonts/aktivgrotesk_std_blkit-webfont.woff") format("woff"), url("../../dist/fonts/aktivgrotesk_std_blkit-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.mb-r {
  margin-bottom: 0 !important; }

.yellow {
  color: #f6f930; }

.maroon {
  color: #3a1227; }

.lt-maroon {
  color: #73405b; }

.font-italic {
  font-family: "aktivthit", helvetica, arial, sans-serif; }

.font-medium {
  font-family: "aktivmd", helvetica, arial, sans-serif; }

.font-bold {
  font-family: "aktivbd", helvetica, arial, sans-serif; }

.font-black {
  font-family: "aktivblk", helvetica, arial, sans-serif; }

.font-black-italic {
  font-family: "aktivblkit", helvetica, arial, sans-serif; }

.font-large {
  font-size: 1.5em; }

.cf:after {
  content: "";
  display: table;
  clear: both; }

.hidden {
  display: none !important; }

@media screen and (max-width: 767px) {
  .mobile-hidden {
    display: none !important; } }
@media screen and (min-width: 768px) {
  .mobile-only {
    display: none !important; } }
html:not(.touch) .touch-only {
  display: none; }

.touch .non-touch {
  display: none; }

div {
  box-sizing: border-box; }

body {
  font-family: "aktivth", helvetica, arial, sans-serif;
  font-size: 12px;
  line-height: 1.4;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  color: #fff; }

h1 {
  font-size: 3em;
  margin: 0; }

h3 {
  font-weight: 300;
  margin: 0;
  font-size: 1.1em;
  line-height: 1.25; }

p {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
  letter-spacing: 1px; }

a {
  text-decoration: none;
  color: #fff; }

strong {
  font-family: "aktivmd", helvetica, arial, sans-serif; }

.container {
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.intro {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-color: #000;
  margin: -50px 0 0 -50px;
  cursor: pointer;
  -webkit-transition: all 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
          transition: all 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  .open .intro {
    -webkit-transform: scale(4);
        -ms-transform: scale(4);
            transform: scale(4);
    top: 30px;
    left: 70%; }
    @media screen and (max-width: 767px) {
      .open .intro {
        -webkit-transform: scale(2);
            -ms-transform: scale(2);
                transform: scale(2);
        top: 50%;
        left: 50%; } }

.page-wrap {
  width: 100%;
  height: 100%;
  padding: 30px; }
  @media screen and (max-width: 1023px) {
    .page-wrap {
      padding: 20px; } }

.inner-wrap {
  width: 100%;
  height: 100%;
  background-color: rgba(77, 77, 77, 0.9);
  position: relative;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
          transition: all 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  .open .inner-wrap {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    opacity: 1; }

.top-left {
  position: absolute;
  top: 45px;
  left: 45px; }
  @media screen and (max-width: 767px) {
    .top-left {
      left: 30px; } }

.mid {
  position: absolute;
  bottom: 140px;
  left: 45px;
  font-size: 1.4rem; }
  @media screen and (max-width: 767px) {
    .mid {
      font-size: 1rem;
      top: 140px;
      left: 30px;
      bottom: auto; } }

.bottom-left {
  position: absolute;
  bottom: 45px;
  left: 45px; }
  @media screen and (max-width: 767px) {
    .bottom-left {
      left: 30px; } }

.bottom-right {
  position: absolute;
  right: 45px;
  bottom: 45px; }
  @media screen and (max-width: 767px) {
    .bottom-right {
      bottom: 110px;
      left: 30px;
      right: auto; } }

.effect-wrap {
  position: relative;
  background-color: purple;
  overflow: hidden; }

.circle {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  overflow: hidden; }

.outer-circle {
  border: 1px white solid; }

.middle-circle {
  border: 1px #f6f930 solid; }

.image-holder {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; }
  .image-holder.slide-1 {
    background: url("../../dist/images/slide1.jpg") no-repeat center center; }
  .image-holder.slide-2 {
    background: url("../../dist/images/slide2.jpg") no-repeat center center; }
  .image-holder.active {
    opacity: 1; }

.slider-nav {
  position: absolute;
  top: 50px;
  right: 50px; }

.slider-previous {
  padding-right: 20px; }
