// CIRCLE EFFECT
// -----------------

.effect-wrap
  position: relative
  background-color: purple
  overflow: hidden

.circle
  +centerT
  border-radius: 50%
  overflow: hidden

.outer-circle
  border: 1px white solid

.middle-circle
  border: 1px $yellow solid

.image-holder
  +square(100%)
  +position(absolute,0,null,null,0)
  opacity: 0

  &.slide-1
    background: url('#{$imagePath}slide1.jpg') no-repeat center center

  &.slide-2
    background: url('#{$imagePath}slide2.jpg') no-repeat center center

  &.active
    opacity: 1


.slider-nav
  +position(absolute,50px,50px)

.slider-previous
  padding-right: 20px
