// GLOBALS
// -----------------

body, html
    // prevent horizontal scrolling
    background-color: $white
    text-rendering: optimizeLegibility

div
    box-sizing: border-box

body
    font-family: 'aktivth',helvetica, arial, sans-serif
    font-size: 1em
    line-height: 1.4

h1
    font-size: 3em
    margin: 0

h3
    font-weight: 300
    margin: 0
    font-size: 1.1em
    line-height: 1.25

p
    margin: 0
    font-size: 1em
    line-height: 1.4

a
    text-decoration: none




